h1{
    font-size: 50px;
    font-weight:bolder;
    color:white;
}
p{
    color:white;
    font-size: 25px;
}
pre
{
    color:white; 
    font-size: 20px;
} 
.principal{
    
    background-image: url(../img/monitores/2-1024x640.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
li {
    margin: 30px 0;
}

button {
    width: 134px;
    height: 42px;
    border-radius: 15%;
    background-color:blue;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 20;

}

@keyframes example {
    from {
        background-color:blue;
    }
    to {
        background-color:orange;
    }
}