html {
    min-height: 100%;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-image: url(../img/login-new.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


li {
    margin: 30px 0;
}

button {
    width: 134px;
    height: 42px;
    border-radius: 15%;
    background-color: red;
    color: #000;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 20;
}

img {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

@keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}